<section class="autoplay slider-clients">
  <div class="logos-clients logo-actinver"></div>
  <div class="logos-clients logo-ahorro"></div>
  <div class="logos-clients logo-asp"></div>
  <div class="logos-clients logo-bancrea"></div>
  <div class="logos-clients logo-banorte"></div>
  <div class="logos-clients logo-finterra"></div>
  <div class="logos-clients logo-fna"></div>
  <div class="logos-clients logo-hdi"></div>
  <div class="logos-clients logo-huastecas"></div>
  <div class="logos-clients logo-interacciones"></div>
  <div class="logos-clients logo-intercam"></div>
  <div class="logos-clients logo-investabank"></div>
  <div class="logos-clients logo-invex"></div>
  <div class="logos-clients logo-kio"></div>
  <div class="logos-clients logo-kubo"></div>
  <div class="logos-clients logo-libertad"></div>
  <div class="logos-clients logo-orderexpress"></div>
  <div class="logos-clients logo-scotiabank"></div>
  <div class="logos-clients logo-unagra"></div>
</section>

