<section class="mb-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn">
                <h2>Soluciones Conecta</h2>
                <p class="text-secundary">Brindamos a nuestros clientes una plataforma de conectividad total así como servicios y aplicaciones acordes a sus necesidades y particularidades.</p>
            </div>
        </div>
    </div>
</section>

<!--***** SLIDER-PRODUCTS *****-->

<section class="wow fadeIn">
    <div class="container-fluid">
        <div class="row carousel-holder">
            <div class="col-md-12">
                <div id="carousel-products" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-products" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-products" data-slide-to="1"></li>
                        <li data-target="#carousel-products" data-slide-to="2"></li>
                        <li data-target="#carousel-products" data-slide-to="3"></li>
                        <li data-target="#carousel-products" data-slide-to="4"></li>
                        <li data-target="#carousel-products" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active icons-products">
                            <img class="slide-image" src="app/dist/img/screen1.png" alt="">
                            <div class="carousel-caption">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>E-Banking</h3>
                                    <p class="text-sec-products">La plataforma de E-banking más avanzada en México</p>
                                    <ul>
                                        <li><span class="text-products">Desarrollada bajo los esquemas de seguridad y observaciones generadas por la CNBV.</span></li>
                                        <li><span class="text-products">Es una plataforma modular, escalable y segura.</span></li>
                                        <li><span class="text-products">En cada proyecto de E-banking se desarrolla un increíble UX/UI para enfocar la visión de cada institución hacia sus clientes.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item icons-products icons-products-purple">
                            <img class="slide-image slide-image-2" src="app/dist/img/mobile2.png" alt="">
                            <div class="carousel-caption">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>M-Banking</h3>
                                    <p class="text-sec-products">El futuro es móvil</p>
                                    <ul>
                                        <li><span class="text-products">El proyecto de M-Banking de Conecta convierte a un smartphone iOS, Android o Blackberry en el canal digital más fuerte de las instituciones financieras.</span></li>
                                        <li><span class="text-products">Enrolamiento de dispositivo seguro a través de triple autenticación.</span></li>
                                        <li><span class="text-products">Notificaciones PUSH, Compartir datos de transferencia, digitalización de productos financieros al móvil.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item icons-products icons-products-green">
                            <img class="slide-image" src="app/dist/img/protect.png" alt="">
                            <div class="carousel-caption">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>Protect</h3>
                                    <p class="text-sec-products">Diferentes plataformas enfocadas en la seguridad de datos</p>
                                    <ul>
                                        <li><span class="text-products"><b>ConectaCryptography:</b> Suite de cifrado de alto nivel con dispositivos HSM. </span></li>
                                        <li><span class="text-products"><b>SAT:</b> Sistema de Administración y asignación de Token.</span></li>
                                        <li><span class="text-products"><b>MonitorHSM:</b> Aplicación Web de administración de los procesos en tiempo real de equipos HSM.</span></li>
                                        <li><span class="text-products"><b>TXEFT:</b> Software de aplicación de equipos HSM tipo EFT para cifrado y validación.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item icons-products icons-products-pink">
                            <img class="slide-image" src="app/dist/img/softtoken.png" alt="">
                            <div class="carousel-caption">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>Soft-Token</h3>
                                    <p class="text-sec-products">Virtualización de token OTP o Challenge/Response bajo las licencias de Safenet-Gemalto.</p>
                                    <ul>
                                        <li><span class="text-products">Este tipo de token es catalogado por la CNBV como mecanismo de autenticación categoría 3 por los altos estándares de seguridad.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item icons-products icons-products-aqua">
                            <img class="slide-image" src="app/dist/img/spei.png" alt="">
                            <div class="carousel-caption">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>SPEI</h3>
                                    <p class="text-sec-products">Software de conexión a la Red Financiera del Banco de México para transacciones interbancarias.</p>
                                    <ul>
                                        <li><span class="text-products"><b>MotorSPEI:</b> Sistema de comunicaciones por medio del protocolo de Banxico para las transacciones de envío y recepción de pagos.</span></li>
                                        <li><span class="text-products"><b>SPEI Central:</b> Aplicación de Monitoreo de pagos de envío y recepción así como el estatus de cada uno de ellos.</span></li> 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item icons-products">
                            <img class="slide-image" src="app/dist/img/switch.png" alt="">
                            <div class="carousel-caption">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>Switch</h3>
                                    <p class="text-sec-products">El proyecto Switch transacciona la compra de Tiempo Aire y de Pago de Servicios por medio de los brokers mas grandes de México para ofrecer la mayor cantidad de operaciones disponibles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>