/*ABOUT*/

h2, h3{
	color: @color-sec;
}
h2{
	font-size: 2.1em;
	font-weight: lighter;
	margin-top: 70px;
	text-align: center;
}

.text-secundary{
	padding: 0 200px;
	text-align: center;
	font-size: 1.1em;
}

h3{
	font-size: 1.2em;
}

.pd-text{
	padding: 0 55px 70px;
}


/* BG-SECUNDARY */

.text-bg{
	font-size: 1.5em;
	color: @color-white;
	padding: 50px 80px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: lighter;
}

.bg-secundary{
	background-color: @color-sec;
}


