
/* BG-SECUNDARY */

.bg-map{
	background-image: url("../img/bg2.svg");
	background-size: 120%;
	background-position: -150px 0px;
    background-repeat: no-repeat;
    height: 200px; 
}

.img-mob1{
	margin-top: -2em;
	margin-bottom: -2em;
}

/* ABOUT SECTION */

.img-about{
	background: url('../img/map.svg') center no-repeat;
	background-size: 180%;
	height: 400px;
	margin-bottom: 2em;
}

.icons-about{
	margin-top: 0em;
	list-style-type: circle;

	li{
		padding: 1.5em 1.5em 0 0;
		list-style-image: url("../img/icon-square-blue.svg");
	}
	.text-about{
		font-size: 1.7em;
	}

}

/* RESPONSIVE */

@media (max-width: 768px) {
	.icons-about{
		margin-top: 0em;
	}
}
