
/* BG-SECUNDARY */

.bg-map{
	background-image: url("../img/bg2.svg");
	background-size: 120%;
	background-position: -150px 0px;
    background-repeat: no-repeat;
    height: 200px; 
}

.img-mob1{
	margin-top: -2em;
	margin-bottom: -2em;
}

/* ABOUT SECTION */

.img-about{
	background: url('../img/map.svg') center no-repeat;
	background-size: 150%;
	height: 502px;
	margin-top: 3em;
}

.icons-about{
	margin-top: 6em;
	font-family: 'Roboto';
	list-style-type: circle;
}

/* RESPONSIVE */

