body{
	color: @color-text;
}



/* MENU */

.navbar{
	min-height: 75px;
}

.navbar-brand img{
	width: 200px;
}

.navbar-principal {
    background-color: @color-base;
    border-color: @color-base;
}

.navbar-brand {
    height: 75px;
    padding-left: 70px;
}

.navbar-nav{
	margin: 12px;
	padding-top: 5px;
}

.btn-leng{
	margin: 6px 50px 6px 10px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.btn-leng:hover{
	background-color: #fff;
	color: @color-sec;
}

.navbar-nav>li>a {
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}


.nav > li > a:hover,
.nav > li > a:focus {
  background-color: @color-sec;
}


.navbar-toggle {
    margin-top: 20px;
    margin-right: 100px;
    border: 1px solid #fff;
    color: #fff;
}

.icon-bar {
    background-color: #fff;
}

a:visited{
	background-color: transparent;
}

/* IMG PRINCIPAL*/

.bg-principal{
	background-color: @color-base;
}

.img-principal{
	background-image: url("../img/header-bg.svg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: 50% 148%;
	height: 510px;
}

.title{
	font-size: 1.5em;
	margin-top: 130px;
	padding: 0 250px;
	color: @color-white;
	font-weight: lighter;
	letter-spacing: 1px;
}
