

/* IMG PRINCIPAL*/

.img-principal-1{
	background-image: url("../img/conecta-background-1.svg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;
    background-position: 50% 50%;
	height: 450px;
}

.img-principal{
	background-image: url("../img/ciudad-conecta-background.svg");
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
	height: 450px;
}

.title-principal{
	font-size: 1.5em;
	margin-top: 130px;
	letter-spacing: 1px;
    font-weight: 400;
    color: #999;
	line-height: 22pt;
}
