.icons-products{
	margin-top: 0em;
	list-style-type: circle;

	ul{
		padding-right: 1.5em;
	}
	li{
		padding: 1em 1em 0 0;
		list-style-image: url("../img/icon-square-coral.svg");
	}
	.text-products{
		font-size: 1.3em;
	}
	.text-sec-products{
		font-size: 1.6em;
		color: @color-base;
		padding: 0 7em 0 0;
		font-weight: 100;
	}
}

.img-products{
		background-image: url("../img/screen.png");
		background-repeat: no-repeat;
		background-size: 65%;
        background-position: 53em 4.5em;
    	height: 850px;
	}

.carousel-control.left {
  background-image: none;
  filter: none;
  
}
.carousel-control.right {
  background-image: none;
  filter: none;
}






/***************************/

#pinContainer {	
		width: 100%;
		height: 200px;
		overflow: hidden;
	}
.panelSlide {
	height: 200px;
	width: 100%;
	position: absolute;
}


section.demo2 {
	text-align: center;
}

/*
	colors
*/

.blue {
	background-color: #3883d8;
}
.turqoise {
	background-color: #38ced7;
}
.brown {
	background-color: #a66f28;
}
.bordeaux {
	background-color: #953543;
}
.skin {
	background-color: #ED9F4C;
}
.black {
	background-color: #000000;
}
.white {
	background-color: #FFFFFF;
}
.red {
	background-color: #cf3535;
}
.green {
	background-color: #22d659;
}
.orange {
	background-color: #ea6300;
}


.demo2#section-slides, .demo2#section-wipes {
	height: 100%;
	width: 100%;
	background-image: none;
}

.demo2#section-slides .panel > b, .demo2#section-wipes .panel > b {
	
	color: white;
	position: relative;
	display: block;
	height: 0;
	overflow: visible;
	
}


/***************************/








@media (max-width: 1200px) {
	.img-products{
		background-size: 75%;
		background-position: 45em 4.5em;

	}
}

@media (max-width: 992px) {
	.img-products{
		background-size: 85%;
		background-position: 30em 4.5em;
	}
}

@media (max-width: 768px) {
	.img-products{
		background-size: cover;
		background-position: 20em 4.5em;
	}
}

@media (max-width: 599px) {
	.img-products{
		background-size: cover;
		background-position: 10em 4.5em;
	}
}

@media (max-width: 480px) {
	.img-products{
		background-size: cover;
		background-position: 0em 4.5em;
	}
}