.icons-products{
	margin-top: 0em;
	list-style-type: circle;

	ul{
		padding-right: 1.5em;
	}
	li{
		padding: 1em 1em 0 0;
		list-style-image: url("../img/icon-square-coral.svg");
	}
	.text-products{
		font-size: 1.3em;
	}
	.text-sec-products{
		font-size: 1.6em;
		color: @color-base;
		padding: 0 7em 0 0;
		font-weight: 100;
	}
}

.icons-products-purple{
	li{
		padding: 1em 1em 0 0;
		list-style-image: url("../img/icon-square-purple.svg");
	}
}

.icons-products-green{
	li{
		padding: 1em 1em 0 0;
		list-style-image: url("../img/icon-square-green.svg");
	}
}

.icons-products-pink{
	li{
		padding: 1em 1em 0 0;
		list-style-image: url("../img/icon-square-pink.svg");
	}
}

.icons-products-aqua{
	li{
		padding: 1em 1em 0 0;
		list-style-image: url("../img/icon-square-aqua.svg");
	}
}

.mb-title{
	margin-bottom: -10em;
}

.img-products{
	width: 100%;	
	margin: auto;
	margin-top: 0em;
}

.products-line{
	width: 70%;
	border: 0; 
	height: 2px; 
	margin-bottom: 3em; 
	background: -webkit-linear-gradient(left, #fff, @color-text, #fff);
    background: -o-linear-gradient(left, #fff, @color-text, #fff);
    background: -moz-linear-gradient(left, #fff, @color-text, #fff);
	background: linear-gradient(to left, #fff, @color-text, #fff);
}

.m-text{
	h3{
		margin-top: 4em;
	}
}


.carousel-control.left {
  background-image: none;
  filter: none;
  
}
.carousel-control.right {
  background-image: none;
  filter: none;
}

.slide-image{
	float: right;
	margin-right: 8em;
	width: 42%;
}

.carousel-caption{
	text-align: left;
	text-shadow: none;
	color: @color-text;
	margin: 0 2em 0 -10em;
	top: 6em;

}
 
// .carousel-caption {
//    position: absolute;
//    left: 15%;
//    right: 15%;
//    bottom: 20px;
//    top: -400px;
//    z-index: 10;
//    padding-top: 20px;
//    padding-bottom: 20px;
//    color: #fff;
//    text-align: center;
//    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
// }


.carousel-indicators li{
	background-color: @color-white !important;
	border-color: @color-text;
	padding: 1em 1em 0 0;
}

.carousel-indicators .active{
	background-color: @color-text !important;
}



@media (max-width: 1300px) {
	.slide-image{
		margin-right: 3em;
		width: 45%;
		margin-bottom: 8em;
	}

	.carousel-caption{
		margin: 0 0 0 -13em;
		top: 5em;

	}
}

@media (max-width: 1200px) {
	.slide-image{
		margin-right: 2em;
		width: 50%;
		margin-bottom: 9em;
	}

	.carousel-caption{
		margin: 0 2em 0 -10em;
	}
}

@media (max-width: 992px) {
	.slide-image{
		// margin: auto;
		margin-top: 4em;
		width: 50%;
		margin-bottom: 9em;
	}
	.carousel-caption{
		margin: 0 0 0 -10em;
	}
}

@media (max-width: 991px) {
	.slide-image{
		margin: auto;
		margin-top: 30em;
		width: 100%;
	}
	.carousel-caption{
		margin: 0 0 0 -7em;
	}
}

@media (max-width: 767px) {
	.carousel-caption{
		margin: 0 -5em 0 -5em;
	}
}

@media (max-width: 622px) {
	.carousel-caption{
		margin: 0 -5em 0 -5em;
	}
	.icons-products{
		.text-sec-products{
			padding: 0 0 0 0;
		}
	}
}

@media (max-width: 522px) {
	.slide-image{
		margin-top: 35em;
	}
	.carousel-caption{
		margin: 0 -5em 0 -4em;
	}
}

@media (max-width: 432px) {
	.carousel-caption{
		margin: 0 -6em 0 -4em;
	}
}

@media (max-width: 425px) {
	.carousel-caption{
		margin: 0 -6.5em 0 -4em;
	}
	.icons-products{
		.text-sec-products{
			padding: 0 1em 0 0;
		}
	}
}

@media (max-width: 425px) {
	.carousel-caption{
		margin: 0 -6.5em 0 -4em;
	}
}

@media (max-width: 402px) {
	.carousel-caption{
		margin: 0 -7em 0 -4em;
	}
	.icons-products{
		.text-sec-products{
			padding: 0 1em 0 0;
		}
	}
}

@media (max-width: 392px) {
	.slide-image{
		margin-top: 37em;
	}
}

@media (max-width: 330px) {
	.carousel-caption{
		margin: 0 -6.5em 0 -4em;
	}
}

@media (max-width: 323px) {
	.slide-image{
		margin-top: 40em;
	}
}

@media (max-width: 320px) {
	.slide-image{
		margin-top: 42em;
	}
}

@media (max-width: 300px) {
	.slide-image{
		margin-top: 44em;
	}
}

@media (max-width: 290px) {
	.carousel-caption{
		margin: 0 -4em 0 -3em;
	}
	.slide-image{
		margin-top: 50em;
		width: 110%;
	}
}
@media (max-width: 272px) {
	.slide-image{
		margin-top: 55em;
	}
}

@media (max-width: 252px) {
	.slide-image{
		margin-top: 60em;
	}
}