/* SERVICIOS */

#services{
	.icon{
		background-position: center center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    height: 100px;
	}
	.img-mec-aut {
	    background-image: url(../img/icons/img-mec-aut.png);
	}
	.img-servicios {
	    background-image: url(../img/icons/img-servicios.png);
	}
	.img-cred {
	    background-image: url(../img/icons/img-cred.png);
	}
	.img-inter {
	    background-image: url(../img/icons/img-inter.png);
	}
	.img-apps {
	    background-image: url(../img/icons/img-apps.png);
	}
	.img-pagos {
	    background-image: url(../img/icons/img-pagos.png);
	}
	.img-notificaciones {
	    background-image: url(../img/icons/img-notificaciones.png);
	}
	.img-int {
	    background-image: url(../img/icons/img-int.png);
	}
}