/* SERVICIOS */

#services{
	.icon{
		background-position: center center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    height: 60px;
	    margin-bottom: 3em;
	}
	.img-mec-aut {
	    background-image: url(../img/icons/mec-aut.svg);
	}
	.img-servicios {
	    background-image: url(../img/icons/servicios.svg);
	}
	.img-cred {
	    background-image: url(../img/icons/cred.svg);
	}
	.img-inter {
	    background-image: url(../img/icons/inter.svg);
	}
	.img-apps {
	    background-image: url(../img/icons/apps.svg);
	}
	.img-pagos {
	    background-image: url(../img/icons/pagos.svg);
	}
	.img-notificaciones {
	    background-image: url(../img/icons/notificaciones.svg);
	}
	.img-int {
	    background-image: url(../img/icons/int.svg);
	}
	.img-soporte {
	    background-image: url(../img/icons/soporte.svg);
	}
}