//  COLORS
@color-base: #00B1FB;
@color-sec: #00648D;
@color-gam-1: @color-base;
@color-gam-2: #FF4B40;
@color-gam-3: #B82875;
@color-gam-4: #00CD56;
@color-gam-5: #FFCF38;
@color-text: #5D5D5D;
@color-white: #fff;
