<footer class="bg-footer">
  <div class="container">
      <div class="row">
        <div class="col-md-4">
            <img src="app/dist/img/conecta.svg" alt="Logo-Conecta" class="logo-conecta">
            <p class="text-footer">Derechos reservados Conecta Soluciones Tecnológicas S.C.</p>
        </div>
        <div class="col-md-offset-3 col-md-1">
            <a class="links" href="">Nosotros</a>
            <a class="links" href="">Contacto</a>
        </div>
        <div class="col-md-1">
            <p>Productos</p>
            <a class="links" href="">E-Banking</a>
            <a class="links" href="">M-Banking</a>
            <a class="links" href="">Protect</a>
            <a class="links" href="">SOft Token</a>
            <a class="links" href="">SPEI</a>
            <a class="links" href="">Switch</a>
        </div>
        <div class="col-md-1">
            <a class="links" href="">Clientes</a>
            <a class="links" href="">Partners</a>
            <a class="links" href="" class="mr-2">Soporte Conecta</a>
        </div>
        <div class="col-md-2">
            <a class="links" href="" class="text-right">Aviso de privacidad</a>
        </div>
        <div class="col-md-12">
            <div class="social-links pull-right">
                <a href=""><img src="app/dist/img/social-icons/facebook.svg" alt="link-facebook"></a>
                <a href=""><img src="app/dist/img/social-icons/twitter.svg" alt="link-twitter"></a>
                <a href=""><img src="app/dist/img/social-icons/linkedin.svg" alt="link-linkedin"></a>
                <a href=""><img src="app/dist/img/social-icons/github.svg" alt="link-github"></a>
            </div>
        </div>
      </div> 
  </div>
</footer>