<footer class="bg-footer">
  <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12">
            <img src="app/dist/img/conecta.svg" alt="Logo Conecta Mx" class="logo-conecta">
            <p class="text-footer">Derechos reservados Conecta Soluciones Tecnológicas S.C.</p>
        </div>
        <div class="col-md-offset-3 col-md-1 col-xs-3">
            <a class="links" href="/nosotros">Nosotros</a>
            <a class="links" href="/contacto">Contacto</a>
        </div>
        <div class="col-md-1 col-xs-3">
            <p>Productos</p>
            <a class="links" href="/productos">E-Banking</a>
            <a class="links" href="/productos">M-Banking</a>
            <a class="links" href="/productos">Protect</a>
            <a class="links" href="/productos">Soft Token</a>
            <a class="links" href="/productos">SPEI</a>
            <a class="links" href="/productos">Switch</a>
        </div>
        <div class="col-md-1 col-xs-3">
            <a class="links" href="/clientes">Clientes</a>
            <a class="links" href="/partners">Partners</a>
            <a class="links mr-2" href="">Soporte Conecta</a>
        </div>
        <div class="col-md-2 col-xs-3">
            <a class="links" href="" class="text-right">Aviso de privacidad</a>
        </div>
        <div class="col-md-12">
            <div class="social-links pull-right">
                <a href="https://www.facebook.com/ConectaFintech/"  target="_blank"><img src="app/dist/img/social-icons/facebook.svg" alt="link facebook"></a>
                <a href="https://twitter.com/conectafintech" target="_blank"><img src="app/dist/img/social-icons/twitter.svg" alt="link twitter"></a>
                <a href="https://www.linkedin.com/company/3030825?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A3030825%2Cidx%3A1-1-1%2CtarId%3A1465945291765%2Ctas%3AConecta%20soluciones" target="_blank"><img src="app/dist/img/social-icons/linkedin.svg" alt="link linkedin"></a>
                <a href="https://github.com/Conecta" target="_blank"><img src="app/dist/img/social-icons/github.svg" alt="link github"></a>
            </div>
        </div>
      </div> 
  </div>
</footer>