<!--***** PARTNERS *****-->
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-4">
                <h2>Partners</h2>
                <p class="text-secundary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos logo-gemalto"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos logo-efisys"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos logo-isotrx"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 pb-2">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="logos logo-23"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="logos logo-tesseract"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="logos logo-blu"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="logos logo-evertec"></div>
                </div>
            </div>
        </div>
    </div>
</section>