<!--***** PARTNERS *****-->
<section id="partners" class="bg-paint-green">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-4 wow fadeIn">
                <h2>Partners</h2>
                <p class="text-secundary">Nos asociamos con las mejores marcas.</p>
            </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-offset-1 col-md-10">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-gemalto"></div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-efisys"></div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-isotrx"></div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-evertec"></div>
              </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-offset-1 col-md-10 pb-2">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-23"></div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-tesseract fly-it3"></div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-blu"></div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="logos logo-seekurity"></div>
              </div>
          </div>
        </div>
    </div>
</section>
