<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style type="text/css">body{font-family:Helvetica,Arial;font-size:13px}</style>
        <title></title>
    </head>
    <body style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;">
                        <div>
                            <div style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;">
                                <div>
                                    <div>
                                        <div>
                                            <br />
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="padding:60px; font-size: 13px; line-height: 24px; color: #373737; background: #f2f2f2;">
<tbody>
                                                    <tr>
                                                        <td valign="top"></td>

</tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <table id="body" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
<tbody>
                                                                    <tr>
                                                                        <td valign="top">
                                                                            <div style="max-width: 700px; margin: 0 auto; padding: 12px;">
                                                                                <div class="card" style="background: white; border-radius: 4px; border-style: solid; border-width: thin; border-color: #dddddd; padding: 4rem; margin-bottom: 1rem;">
                                                                                    <img src="http://conecta.co/app/dist/img/conectamail.png" alt="" style="width:100%; margin-top: -15px; margin-bottom: 70px;" />
                                                                                    <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(157, 157, 157, 0), rgba(0, 0, 0, 0.2), rgba(157, 157, 157, 0)); margin-bottom: 43px;" />
                                                                                    <h3 style="color: #003b53; margin: 0 0 12px; line-height: 30px;">Lorem ipsum dolor sit amet
</h3>
                                                                                    <p style="font-size: 15px; line-height: 18px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate natus eaque voluptatum praesentium non error magni numquam nulla facilis dolorem:
</p>
                                                                                    <p style="font-size: 14px; line-height: 16px; color: #AAA; text-align: center; margin: 0 auto 1rem; max-width: 480px; word-break: break-word; margin-top: 40px; margin-bottom: 40px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio blanditiis sapiente pariatur consequatur. Minus, obcaecati repellendus, possimus quae voluptatem, dignissimos repudiandae natus suscipit voluptate ipsa a provident harum impedit totam?
</p>
                                                                                    <p style="text-align: center; margin: 2rem 0 1rem;">
                                                                                        <a href="#" style="display: inline-block; padding: 10px 32px; background: #003b53; border-radius: 3px; font-weight: normal; letter-spacing: 1px; font-size: 15px; line-height: 20px; color: white; text-shadow: 0 1px 1px black; text-shadow: 0 1px 1px rgba(0,0,0,0.25); text-decoration: none;">Botón</a>
                                                                                    </p>
                                                                                    <p style="font-size: 14px; line-height: 16px; color: #AAA; text-align: center; margin: 0 auto 1rem; max-width: 320px; word-break: break-word; margin-top: 40px; margin-bottom: 40px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio blanditiis sapiente pariatur consequatur. Minus, obcaecati repellendus.
</p>
                                                                                    <p style="font-size: 14px; line-height: 18px;">
                                                                                        <strong>Subtitle</strong>
                                                                                         – Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim hic repudiandae officia. Commodi enim, totam qui architecto nam eaque.
</p>
                                                                                    <p style="font-size: 14px; line-height: 20px;">Lorem ipsum dolor sit amet tempora. <a href="#" style="font-weight: bold; color: #439fe0;">Link</a>
                                                                                         !
</p>
                                                                                    <pre style="background: #eee; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; padding: 20px;">                                                                        2015-07-06T17:05:03.919Z - info: Carga de informacion de cliente | 1 | cueta con token | AE016771
                                                                        2015-07-06T17:19:55.925Z - info: Carga de informacion de cliente | 1234 | cueta con token | NO ENR57085384



</pre>
                                                                                    <p style="font-size: 14px; line-height: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nobis dolorum quaerat, beatae, quasi dicta mollitia illo quos sint quas vitae fuga laborum at quis fugit facilis sit laudantium perspiciatis!.
</p>
                                                                                    <hr style=" border: 0; height: 1px; background-image: linear-gradient(to right, rgba(157, 157, 157, 0), rgba(0, 0, 0, 0.2), rgba(157, 157, 157, 0)); margin-top: 55px;" />
                                                                                    <p style="font-size: 14px; line-height: 20px;">-- Equipo
</p>
                                                                                    <p style="font-size: 14px; line-height: 16px; color: #AAA; margin: 0 auto 1rem; word-break: break-word; margin-top: 20px; margin-bottom: 40px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio blanditiis sapiente pariatur consequatur. Minus, obcaecati repellendus, possimus quae voluptatem, dignissimos repudiandae natus suscipit voluptate ipsa a provident harum impedit totam?
</p>
                                                                                </div>
                                                                            </div>
                                                                        </td>

</tr>
                                                                </tbody>
                                                            </table>
                                                        </td>

</tr>
                                                    <tr>
                                                        <td valign="top">
                                                            <table id="body" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
<tbody>
                                                                    <tr>
                                                                        <td valign="top">
                                                                            <div align="center" style="max-width: 470px; margin: 0 auto; padding: 0 12px; margin-bottom: 60px; margin-top: 30px;">
                                                                                <p class="footer_address" style="margin-top: 16px; color: #848484; font-size: 12px; line-height: 20px;">
                                                                                    <a href="https://www.conecta.co/" style="font-weight: bold; color: #439fe0;">CONECTA SOLUCIONES TECNOLOGICAS SC</a>
                                                                                    <br />
                                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate natus eaque voluptatum praesentium non error magni numquam<br />

</p>
                                                                            </div>
                                                                        </td>

</tr>
                                                                </tbody>
                                                            </table>
                                                        </td>

</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                <hr />

    </body>
</html>
