<nav class="navbar navbar-principal navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" ng-href="/"><img alt="Logo-Conecta" src="app/dist/img/conecta.svg"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/partners">Partners</a></li> 
      </ul>  
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contacto">Contacto</a></li>
        <li><button class="btn btn-leng">ES</button></li>
      </ul>
    </div>
  </div>
</nav>