<nav class="navbar navbar-principal navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" ng-href="#/"><img src="app/dist/img/conecta_white.svg"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#/">Inicio</a></li>
        <li><a ng-href="#/">Nosotros</a></li>
        <li><a ng-href="#/">Productos</a></li>
        <li><a ng-href="#/">Clientes</a></li>
        <li><a ng-href="#/">Partners</a></li> 
      </ul>  
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/">Contacto</a></li>
        <li><button class="btn btn-leng" ng-href="#/">ES</button></li>
      </ul>
    </div>
  </div>
</nav>