<!--***** PARTNERS *****-->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-4">
                <h2>Nuestros clientes</h2>
                <p class="text-secundary">Brindamos a nuestros clientes una plataforma de conectividad total así como servicios y aplicaciones acordes a sus necesidades y particularidades.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-actinver"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-ahorro"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-asp"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-bancrea"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-bankaool"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-banorte"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-finterra"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-fna"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-hdi"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-huastecas"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-interacciones"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-intercam"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-investabank"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-invex"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-kio"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-kubo"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-libertad"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-orderexpress"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-scotiabank"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos-clients logo-unagra"></div>
                </div>
            </div>
        </div>
    </div>
</section>