<!--***** HEADER *****-->
<section class="img-principal-1">
        <section class="img-principal wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title-principal"><span class="text-primary">Conecta</span> es una empresa mexicana con el objetivo de crear los mejores productos <span class="text-primary">Fintech</span> para Instituciones <span class="text-primary">Financieras</span></h1>
                    </div>
                </div>
            </div>
        </section>
</section>


<!--***** CTA 1 *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInUp">
                <p class="text-cta">Generamos soluciones a la medida de tus necesidades, es hora de cambiar el mundo Fintech</p>
            </div>
            <div class="col-md-6 wow fadeInUp">
                <a href="/nosotros" class="btn btn-primary btn-cta">Más información</a>
            </div>
        </div>
    </div>
</section>


<!--***** ABOUT *****-->
<section>
    <div class="container" id="scene">
        <div class="row">
            <div class="col-md-12 wow fadeIn">
                <h2>Creando medios para conectar a todo el mundo</h2>
                <p class="text-secundary">Finanzas · Disruptivo · Tecnología</p>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 pb-3 fade-it">
                    <h3>Empresa</h3>
                    <p class="text-sectors">Hemos conformado en mayo de 2011 este proyecto con el firme compromiso de ofrecer a nuestros clientes un servicio profesional, eficiente y confiable que resuelva las necesidades tecnológicas y nos permitan construir alianzas a largo plazo.</p>
                </div>
                <div class="col-md-12 pb-3 fade-it">
                    <h3>Sectores</h3>
                    <p class="text-sectors">Gobiernos, Bancos, Casa de bolsa, SOFIPO, SOFOM, Cooperativas, Cajas de Ahorro, Casas de Empeño, Aseguradoras.</p>
                </div>
                <div class="col-md-12 fade-it">
                    <h3>Proyectos</h3>
                    <p class="text-sectors">México y Estados Unidos: 80%, Sudamérica: 15%, Reino Unido: 5%</p>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-6 text-center mobile-1 fly-it" id="scene2">
                <img src="../app/dist/img/mob1.png" alt="movil" class="img-mob1">
            </div>
        </div>
    </div>
</section>

<!--***** BG-MAP *****-->
<section class="bg-map"></section>

<!--***** BG-BLUE *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <p class="text-section-blue">En Conecta estamos enfocados en cubrir las expectativas de nuestros clientes, por lo que hemos implementado servicios a la vanguardia que se adaptan a las necesidades de cada organización, brindando un servicio de excelencia con un trato humano y personalizado, atendiendo oportunamente los requerimientos de nuestros clientes.</p>
            </div>
        </div>
    </div>
</section>

<!--***** SLIDER SOLUCIONES *****-->
<slider-products></slider-products>

<!--***** BG-BLUE *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-section-blue wow fadeInUp">Estamos comprometidos en satisfacer los requerimientos de nuestros clientes, proporcionando soluciones de desarrollo innovadoras y eficientes en TI que permitan optimizar la gestión y los procesos de negocios con la mejor atención profesional, integral y personalizada de cada uno de nuestros colaboradores.</p>
            </div>
        </div>
    </div>
</section>

<!--***** SERVICIOS *****-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn">
                <h2>Nuestros servicios</h2>
                <p class="text-secundary">Han sido desarrollados para ofrecer soluciones integrales para nuestros clientes, mediante tecnología de punta y siguiendo los enstándares de seguridad.</p>
            </div>
        </div>
        <div class="row" id="scene3">
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-mec-aut fade-it2"></div>
                <h4 class="fade-it2">Mecanismos de autenticación</h4>
                <p class="fade-it2">Generación de llaves seguras mediante métodos criptográficos y obtención de claves dinámicas mediante un dispositivo físico (Token Físico) o una aplicación móvil.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-cred fade-it2"></div>
                <h4 class="fade-it2">Servicios crediticios</h4>
                <p class="fade-it2">Mediante la plataforma de Banca en Línea proveemos las herramientas necesarias que permiten a las financieras evaluar a sus clientes y determinar la aceptación o rechazo de sus clientes.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-servicios fade-it2"></div>
                <h4 class="fade-it2">Cobro de servicios</h4>
                <p class="fade-it2">Mediante una plataforma Web que provee un fácil, rápido y cómodo acceso a sus clientes, con más de 60 servicios disponibles, obteniendo ganancias para la institución mediante la comisión pagada por el cliente.</p>
            </div>
        </div>
        <div class="row" id="scene4">
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-inter fade-it3"></div>
                <h4 class="fade-it3">Integración estructurada</h4>
                <p class="fade-it3">Diseñada por módulos para integrarse a la infraestructura tecnológica de la Institución Financiera.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-apps fade-it3"></div>
                <h4 class="fade-it3">Apps móviles</h4>
                <p class="fade-it3">Consiste en encapsular los servicios de banca electrónica en tu celular, generando aplicaciones intuitivas y funcionales para los clientes de cada institución.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-pagos fade-it3"></div>
                <h4 class="fade-it3">Pagos electrónicos</h4>
                <p class="fade-it3">Permite a las instituciones financieras la integración entre su core financiero y el servicio del Sistema de Pagos Electrónicos Interbancarios del Banco de México.</p>
            </div>
        </div>
        <div class="row" id="scene5">
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-notificaciones fade-it4"></div>
                <h4 class="fade-it4">Servicios de notificaciones</h4>
                <p class="fade-it4">Permite enviar avisos vía sms o correo electrónico a usuarios y clientes de la institución apegándose a las reglas de negocio de cada financiera.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-int fade-it4"></div>
                <h4 class="fade-it4">Interfaces intuitivas</h4>
                <p class="fade-it4">Diseñadas bajo el principio de Interfaz de Usuario y Experiencia de usuario, lo cual nos permite obtener una interfaz gráfica y amigable.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-soporte fade-it4"></div>
                <h4 class="fade-it4">Soporte especializado</h4>
                <p class="fade-it4">Brindamos soporte y asesoría para todas las soluciones Conecta. Personal altamente capacitado para solucionar problemas en tiempos record.</p>
            </div>
        </div>
    </div>
</section>

<!--***** CTA 2 *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 wow fadeInUp">
                <a href="/productos" class="btn btn-primary btn-100">Conoce todos los servicios y productos</a>
            </div>
        </div>
    </div>
</section>

<!--***** CLIENTS *****-->
<section id="clients" class="clients-home wow slideInLeft">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="logos-clients logo-banorte-bn"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="logos-clients logo-kubo-bn"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="logos-clients logo-unagra-bn"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="logos-clients logo-interacciones-bn"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="logos-clients logo-scotiabank-bn"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="logos-clients logo-kio-bn"></div>
            </div>
        </div>
    </div>
</section>

<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nuestros Clientes</h2>
                <p class="text-secundary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="col-md-12 text-center pb-2">
                <img src="app/dist/img/foto-client.svg" alt="foto-cliente">
                <p class="name-client">Mercedes Garduño</p>
                <p class="name-work">Banca por internet - Hola Banco</p>
                <img src="app/dist/img/comilla.svg" alt="comilla" class="comilla-left">
                <p class="text-testimonio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellendus nulla quo sequi dicta placeat id ea, perferendis deserunt consequuntur autem architecto perspiciatis voluptatibus accusamus dolores molestias ab delectus eos.</p>
                <img src="app/dist/img/comilla2.svg" alt="comilla" class="comilla-right">
            </div>
        </div>
    </div>
</section> -->

<!--***** ÚNETE *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <p class="text-section-blue wow fadeInUp">Conecta esta integrado por consultores, especialistas y desarrolladores de alto nivel y con amplia experiencia en TI para el sector financiero y bursátil mexicano. Es nuestro compromiso fundamental desarrollar íntegramente a los colaboradores fortaleciendo sus capacidades técnicas, humanas y administrativas que permitan obtener un resultado de mejora continua.</p>
        </div>
    </div>
</section>
<!--***** CTA 3 *****-->
<section class="bg-blue-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 wow fadeInUp">
                <a href="" class="btn btn-primary btn-100">Únete al equipo Conecta</a>
            </div>
        </div>
    </div>
</section>

<!--***** PARTNERS *****-->
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeIn">
                <h2>Partners</h2>
                <p class="text-secundary">Estamos asociados con las mejores marcas.</p>
            </div>
        </div>
        <div class="row" id="scene6">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logos logo-gemalto fly-it2"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logos logo-efisys fly-it2"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logos logo-isotrx fly-it2"></div>
                </div>
            </div>
        </div>
        <div class="row" id="scene7">
            <div class="col-md-offset-1 col-md-10 pb-2">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="logos logo-23 fly-it3"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="logos logo-tesseract fly-it3"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="logos logo-blu fly-it3"></div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="logos logo-evertec fly-it3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--***** CONTACTO *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row wow fadeInUp">
            <div class="col-md-12">
                <p class="text-section-blue text-home-contact">¿Necesitas más información? Envíanos tus dudas, comentarios o sugerencias.</p>
            </div>
            <div class="col-md-offset-4 col-md-4">
                <a href="/contacto" class="btn btn-primary btn-100">Contacto</a>
            </div>
        </div>
    </div>
</section>
