<!--***** HEADER *****-->
<section class="bg-degraded">
    <div class="container img-principal">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-principal text-center"><b>Conecta</b> es una empresa mexicana con el objetivo de crear los mejores productos <b>Fintech</b> para Instituciones <b>Financieras</b></h1>
            </div>
        </div>  
    </div>
</section>

<!--***** ABOUT *****-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="fade-it">
                <h2>Creando medios para <b>conectar</b> a todo el mundo</h2>
                <p class="text-secundary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <!--Map-->  
                <div class="container" id="world">
                    <section  id="map-cont">
                        <div class="inner">
                            <div class="tracking">
                                <div class="map"></div>
                                <div class="monitor">
                                    <div class="monitor-details">
                                        <div class="monitor-camera"></div>
                                        <div class="monitor-speaker"></div>
                                    </div>
                                    <div class="monitor-screen">
                                        <img alt="Monitor for iPhone" src="app/dist/img/app.svg"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-4 pd-text" id="fly-it">
                <h3>Empresa</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 pd-text" id="smush-it">
                <h3>Sectores</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 pd-text" id="fly-it">
                <h3>Proyectos</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>

<!--***** BG-SECUNDARY *****-->
<section class="bg-degraded">
    <div class="container-fluid bg-hex">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-bg">En Conecta estamos enfocados en cubrir las expectativas de nuestros clientes, por lo que hemos implementado servicios a la vanguardia que se adaptan a las necesidades de cada organización, brindando un servicio de excelencia con un trato humano y personalizado, atendiendo oportunamente los requerimientos de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--***** SERVICIOS *****-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nuestros servicios</h2>
                <p class="text-secundary">Han sido desarrollados para ofrecer soluciones integrales para nuestros clientes, mediante tecnología de punta y siguiendo los enstándares de seguridad.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-mec-aut"></div>
                <h3>Mecanismos de autenticación</h3>
                <p>Generación de llaves seguras mediante métodos criptográficos y obtención de claves dinámicas mediante un dispositivo físico (Token Físico) o una aplicación móvil.</p>
            </div>
            <div class="col-md-4 pd-text text-center"> 
                <div class="icon img-servicios"></div>   
                <h3>Cobro de servicios</h3>
                <p>Mediante una plataforma Web que provee un fácil, rápido y cómodo acceso a sus clientes, con más de 60 servicios disponibles, obteniendo ganancias para la institución mediante la comisión pagada por el cliente.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-cred"></div>
                <h3>Servicios crediticios</h3>
                <p>Mediante la plataforma de Banca en Línea proveemos las herramientas necesarias que permiten a las financieras evaluar a sus clientes y determinar la aceptación o rechazo de sus clientes.</p>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-inter"></div>
                <h3>Integración estructurada</h3>
                <p>Diseñada por módulos para integrarse a la infraestructura tecnológica de la Institución Financiera.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-apps"></div>
                <h3>Apps móviles</h3>
                <p>Consiste en encapsular los servicios de banca electrónica en tu celular, generando aplicaciones intuitivas y funcionales para los clientes de cada institución.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-pagos"></div>
                <h3>Pagos electrónicos</h3>
                <p>Permite a las instituciones financieras la integración entre su core financiero y el servicio del Sistema de Pagos Electrónicos Interbancarios del Banco de México.</p>
            </div>
        </div>   
        <div class="row">
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-notificaciones"></div>
                <h3>Servicios de notificaciones</h3>
                <p>Permite enviar avisos vía sms o correo electrónico a usuarios y clientes de la institución apegándose a las reglas de negocio de cada financiera.</p>
            </div>
            <div class="col-md-4 pd-text text-center">
                <div class="icon img-int"></div>
                <h3>Interfaces intuitivas</h3>
                <p>Diseñadas bajo el principio de Interfaz de Usuario y Experiencia de usuario, lo cual nos permite obtener una interfaz gráfica y amigable.</p>
            </div>
        </div>  
    </div>
</section>

<!--***** SLIDER *****-->
<section class="bg-hex border">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="slider">
                    <h4 class="title">SOFT TOKEN</h4>
                    <p class="text">Virtualización de token OTP o Challenge/Response bajo las licencias de Safenet-Gemalto.</p>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4 col-xs-12">
                <section  id="slider-cont">
                    <div class="inner">
                        <div class="tracking">
                            <div class="monitor">
                                <div class="monitor-details">
                                    <div class="monitor-camera"></div>
                                    <div class="monitor-speaker"></div>
                                </div>
                                <div class="monitor-screen">
                                    <img alt="Monitor for iPhone" src="app/dist/img/app.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!--***** PARTNERS *****-->
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nuestros Partners</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="logos logo-23"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="logos logo-tesseract"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="logos logo-blu"></div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="logos logo-evertec"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos logo-gemalto"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos logo-efisys"></div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="logos logo-isotrx"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--***** BG-SECUNDARY *****-->
<section class="bg-degraded">
    <div class="container-fluid bg-hex">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-bg">Conecta esta integrado por consultores, especialistas y desarrolladores de alto nivel y con amplia experiencia en TI para el sector financiero y bursátil mexicano. Es nuestro compromiso fundamental desarrollar íntegramente a los colaboradores fortaleciendo sus capacidades técnicas, humanas y administrativas que permitan obtener un resultado de mejora continua.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--SLIDER-CLIENTS-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Nuestros Clientes</h2>
            </div>
        </div>
    </div>
</section>
<clients></clients>

<!--FORM-->
<section class="bg-form">
    <div class="container-fluid bg-hex">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-white">Ponte en contacto con nosotros</h2>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <p class="text-form text-white">Envíanos un mensaje y nos pondremos en contacto contigo.</p>
                <form-conecta></form-conecta>
            </div>
            <!-- <div class="col-md-offset-2 col-md-4">
                Tehuantepec 86, Interior 603, Colonia Roma Sur, Delegación Cuauhtémoc.
            </div> -->
        </div>
    </div>
    </div>
</section>

