<section>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="img-about"></div>
			</div>
			<div class="col-md-5 icons-about">
				<ul>
					<li><i class="fa fa-circle">Fundación:2011</i></li>
					<li><i class="fa fa-circle">Oficinas: Ciudad de México</i></li>
					<li><i class="fa fa-circle">Empleados: 30+</i></li>
					<li><i class="fa fa-circle">Sectores: Gobiernos, Bancos, Casa de bolsa, SOFIPO, SOFOM, Cooperativas, Cajas de Ahorro, Casas de Empeño, Aseuradoras.</i></li>
					<li><i class="fa fa-circle">Proyectos: </i></li>
					<li>México y Estados Unidos 80%</li>
				</ul>
			</div>
		</div>
	</div>
</section>
