<section>
	<div class="container">
		<div class="row">
            <div class="col-md-12 pt-4">
                <h2>Acerca de Conecta</h2>
                <p class="text-secundary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
        </div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="img-about"></div>
			</div>
			<div class="col-md-6 col-sm-6 icons-about">
				<ul>
					<p><i class="fa fa-circle"></i><b>Fundación:</b> 2011</p>
					<p><i class="fa fa-circle"></i><b>Oficinas:</b> Ciudad de México</p>
					<p><i class="fa fa-circle"></i><b>Empleados:</b> 30+</p>
					<p><i class="fa fa-circle"></i><b>Sectores:</b> Gobiernos, Bancos, Casa de bolsa,
        SOFIPO, SOFOM, Cooperativas, 
        Cajas de Ahorro, Casas de Empeño, 
        Aseguradoras.</p>
					<p><i class="fa fa-circle"></i><b>Proyectos:</b> 
	México y Estados Unidos 80%
	Sudamérica:15%
	Reino Unido: 5%</p>
			</div>
		</div>
	</div>
</section>
