<section>
	<div class="container-fluid">
		<div class="row">
            <div class="col-md-12 pt-4">
                <h2>Acerca de Conecta</h2>
                <p class="text-secundary">Finanzas · Disruptivo · Tecnología</p>
            </div>
        </div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="img-about"></div>
			</div>
			<div class="col-md-6 col-sm-6 icons-about">
				<ul>
					<li><span class="text-about"><b>Fundación:</b> 2011</span></li>
					<li><span class="text-about"><b>Oficinas:</b> Ciudad de México</span></li>
					<li><span class="text-about"><b>Empleados:</b> 30+</span></li>
					<li><span class="text-about"><b>Sectores:</b> Gobiernos, Bancos, Casa de bolsa, SOFIPO, SOFOM, Cooperativas, Cajas de Ahorro, Casas de Empeño, Aseguradoras.</span></li>
					<li><span class="text-about"><b>Proyectos:</b> México y Estados Unidos: 80%, Sudamérica:15%, Reino Unido: 5%</span></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!--***** Metodología *****-->
<section class="bg-blue">
    <div class="container">
        <div class="row">
            <p class="text-section-blue">CMAF (Conecta Metodología Agil para Fintech) es una metodología desarrollada por Conecta basada en las mejores prácticas de SCRUM para el desarrollo ágil de proyectos de tecnología en Instituciones Financieras. El enfoque de CMAF es proporcionar los elementos necesarios para lograr un desarrollo de proyecto evolutivo de manera cíclica para la entrega de un MVP, su evaluación, ajustes, evolución, etc</p>
        </div>
    </div>
</section>

<!--***** Filosofía *****-->
<section id="philosophy">
	<div class="container-fluid">
		<div class="row">
            <div class="col-md-12 pb-3">
                <h2>Filosofía</h2>
            </div>
        </div>
		<div class="row">
            <ul id="values" class="list-unstyled col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
	        		<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	                    <div class="row">
	                        <div class="cover gama1">
	                            <div class="text text-center">
	                                <!-- <div class="circle color1"></div> -->
	                                <img class="icons" src="app/dist/img/servicio.svg" alt="icono-servicio">
	                                <div class="title">Servicio</div>
	                            </div>
	                        </div>
	                        <div class="theContent">
	                            <div class="text">
	                                <div class="title color1">Servicio</div>
	                                <div class="wContent">Actitud de entrega y dedicación construyen relaciones efectivas con nuestros clientes. Todos nuestros proyectos están impulsados por añadir valor agregado.</div>
	                            </div>
	                        </div>
	                    </div>
	        		</li>
	        		<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	                    <div class="row">
	                        <div class="cover gama2">
	                            <div class="text text-center">
	                                <img class="icons" src="app/dist/img/profesional.svg" alt="icono-profesional">
	                                <div class="title">Profesionalismo</div>
	                            </div>
	                        </div>
	                        <div class="theContent">
	                            <div class="text">
	                                <div class="title color2">Profesionalismo</div>
	                                <div class="wContent">Es nuestro compromiso fundamental desarrollar a nuestros equipos, fortaleciendo las capacidades técnicas y humanas para obtener mejoras continuas.</div>
	                            </div>
	                        </div>
	                    </div>
	        		</li>
	        		<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	                    <div class="row">
	                        <div class="cover gama3">
	                            <div class="text text-center">
	                                <img class="icons" src="app/dist/img/confianza.svg" alt="icono-confianza">
	                                <div class="title">Confianza</div>
	                            </div>
	                        </div>
	                        <div class="theContent">
	                            <div class="text">
	                                <div class="title color3">Confianza</div>
	                                <div class="wContent">Trabajar con honestidad y seriedad, dar al cliente seguridad y respaldo en sus necesidades, convertir lo imposible a posible y donde no hay “demasiado difícil”.</div>
	                            </div>
	                        </div>
	                    </div>
	        		</li>
	        		<li class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	                    <div class="row">
	                        <div class="cover gama4">
	                            <div class="text text-center">
	                                <img class="icons" src="app/dist/img/innovacion.svg" alt="icono-servicio">
	                                <div class="title">Innovación</div>
	                            </div>
	                        </div>
	                        <div class="theContent">
	                            <div class="text">
	                                <div class="title color4">Innovación</div>
	                                <div class="wContent">Buscar constantemente mejorar la experiencia en el canal digital de los productos Financieros.</div>
	                            </div>
	                        </div>
	                    </div>
	        		</li>
        	    </div>
        	</ul>
        </div>
	</div>
</section>

<!--***** Únete *****-->
<section class="bg-blue-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <a href="" class="btn btn-primary btn-100">Únete al equipo Conecta</a>
            </div>
        </div>
    </div>
</section>


