<!--FORM-->
<section class="bg-contact">
    <div class="container-fluid">
        <div class="container">
        <div class="row">
            <div class="col-md-12 pt-4 wow fadeIn">
                <h2>Ponte en contacto con nosotros<br>contacto@conecta.co</h2>

            </div>
            <div class="col-md-offset-2 col-md-8 wow fadeIn">
                <p class="text-form">Envíanos un mensaje y nos pondremos en contacto contigo.</p>
                <form-conecta></form-conecta>
            </div>
            <!-- <div class="col-md-offset-2 col-md-4">
                Tehuantepec 86, Interior 603, Colonia Roma Sur, Delegación Cuauhtémoc.
            </div> -->
        </div>
    </div>
    </div>
</section>
