<section class="icons-products img-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-4">
                <h2>Soluciones Conecta</h2>
                <p class="text-secundary">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3>E-banking</h3>
                <p class="text-sec-products">La plataforma de E-banking más avanzada en México</p>
                <ul>
                    <li><span class="text-products">Desarrollada bajo los esquemas de seguridad y observaciones generadas por la CNBV.</span></li>
                    <li><span class="text-products">Es una plataforma modular, escalable y segura.</span></li>
                    <li><span class="text-products">En cada proyecto de E-banking se desarrolla un increíble UX/UI para enfocar la visión de cada institución hacia sus clientes.</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>